.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.first_of_span {
  animation: appear 3s linear 1;
  animation-fill-mode: backwards;
}

.wrapper h2 {
  color: #802bb1;
  font-size: 3rem;
  animation: appear 3s linear 1 0.5s;
  animation-fill-mode: backwards;
}

.last_of_span {
  animation: appear 3s linear 1 1s;
  animation-fill-mode: backwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

.blog_cv_links {
  padding: 0em 0.5em;
  list-style-type: none;
  animation: appear 3s linear 1 1.5s;
  animation-fill-mode: backwards;
  transition: all 0.5s linear;
}

.blog_cv_links li {
  display: block;
  width: 100%;
  text-align: center;
  color: var(--grey-cascade);
}

.blog_cv_links li a:link {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 0.3em 1.5em;
  font-size: 1.5rem;
  color: #802bb1;
  border-radius: 0.2em;
  text-transform: lowercase;
  font-weight: lighter;
  background-color: transparent;
  margin-top: 1.5em;
  box-shadow: 0em 0em 0.2em #802bb1;
  transition: box-shadow 1s, color 1s;
}

.blog_cv_links li a:hover {
  color: var(--grey-cascade);
  box-shadow: 0 0.1em 0 var(--grey-cascade);
}

@media screen and (min-width: 768px) {
  .first_of_span {
    font-size: 1.1rem;
    font-weight: lighter;
    letter-spacing: 0.03em;
  }

  .last_of_span {
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.03em;
  }

  .wrapper h2 {
    line-height: 0.3em;
    letter-spacing: 0.03em;
  }

  .blog_cv_links {
    display: flex;
    justify-content: space-between;
  }

  .blog_cv_links li {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-right: 0.5em;
  }

  .blog_cv_links li a:link {
    display: flex;
    flex-wrap: nowrap;
    font-size: 0.9rem;
  }
}
